<nav>
	<div class="navigation">
	  <li><img data-other-src="img/cutUrl-banner-cut.png"  src='img/cuturl-banner.png' height='72' width ='240'></li>
	  <li><a href="/">Home</a></li>
	  <li><a href="#">About</a></li>
	  <li><a href="#">Products</a></li>
	  <li><a href="#">Contact</a></li>
	</div>
	  
	<div class='login'>
		<li><a href="#">LOGIN</a></li>
		<div class='login-dropdown'>
			<label>Username</label>
		    <input type="text" placeholder="Enter Username" name="uname" required>

		    <label>Password</label>
		    <input type="password" placeholder="Enter Password" name="psw" required>

		    <button type="login">Login</button>
		    <input type="checkbox" checked="checked"> Remember me
		</div>
		<li><a href="#">SIGNUP</a></li>
	</div>
</nav>

<div class='container'>
	<form action="/url" method="post">
		<h1>CutURL. You Type, We Cut.</h1>
		<!-- <span>Enter URL:</span> -->
		<input id="submit-txt" type="text" placeholder="Enter your URL here" name="url[long_url]" autofocus>
		<input id="submit-btn" type="submit" value="CUT!">
	</form>
	
	<li id='error'></li>
	<li id='success'></li>
</div>

<div class='data'>
	<table style = "width:100%">
		<tr>
			<th>Long URL</th>
			<th>Short URL</th>
			<th>Click Count</th>
		</tr>
		<% @all_url.reverse_each do |url| %>
		<tr>
			<td><a href = <%= url.long_url %>> <%= url.long_url%> </a></td>
			<td><a href = <%= url.short_url %>> <%= url.short_url%> </a></td>
			<td><center> <%= url.click_count %> </center></td>
		</tr>
		<% end %>
	</table>
	<%= will_paginate @all_url %>
</div>
